@font-face {
    -fx-font-family: "Montserrat";
    src: url('./Montserrat-VariableFont_wght.ttf');
}

.Header{
    -fx-background-color: #3E6B85;
    -fx-font-family: "Montserrat";
}

.searchBar{
}

.varukorgButton{
    -fx-background-color: #F26565;
    -fx-border-radius: 50;
}

.iMatLogga {
    -fx-font-family: "Montserrat";
}