.addWareButton, .reduceWareButton, .increaseWareButton {
    -fx-background-color: #F26565;
}

@font-face {
    -fx-font-family: "Montserrat";
    src: url('Montserrat-VariableFont_wght.ttf');
}

.root {
    -fx-font-family: "Montserrat";
}

.ItemCard {
    -fx-background-color: #FFFFFF;
    -fx-drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    -fx-background-radius: 8px;
}

.itemCardPriceLabel {
    -fx-background-color: #F26565;
    -fx-padding: 10;
    -fx-background-radius: 50;
}
